div .title{
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
}
div{
    color: white;
    text-align: center;
}
body {
    background-image: url("../images/mario.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }